.contain-swip {
  position: absolute;
  max-width: 550px;
  width: 100%;
  height: 100%;
  background-color: white;

  .slide {
    p {
      color: $white;

      span {
        font-family: $lobster;
        font-size: 22px;
        margin-left: 5px;
      }
    }

    .content {
      p {
        font-family: $roboto;
        font-size: 20px;
        text-align: center;
      }
    }

    .card-pointing {
      position:relative;
      .card-slide {
        width: 280px;
        margin: -10px auto 0;
      }
      .pointing {
        position: absolute;
        width: 120px;
      }
    }

    &-1 {
      p {
        color: $black;
      }
      .content {
        margin: 60% auto 0;
        img {
          display: block;
          margin: 0 auto;
        }
        p {
          max-width: 260px;
          margin: 40px auto 0;
        }
      }
    }

    &-2 {
      background-color: #7655A0;
      .content {
        .card-pointing {
          .pointing {
            right: -20px;
            top: 230px;
          }
        }
        p {
          color: $white;
          margin-bottom: 50px;
          max-width: 280px;
          margin: 0 auto;
          img {
            display: inline-block;
            width: 60px;
            margin-top: 25px;
            margin-right: 4px;
          }
        }
      }
    }

    &-3 {
      background-color: #7655A0;
      .content {
        .card-pointing {
          .pointing {
            right: -20px;
            top: 195px;
          }
        }
        p {
          color: $white;
          max-width: 280px;
          margin: 60px auto 0;
          img {
            display: inline-block;
            width: 60px;
            margin-top: 35px;
            margin-right: 4px;
          }
        }
      }
    }

    &-4 {
      background-color: $darkViolet;

      .content {

        .card-pointing {

          .pointing {
            width: 110px;
            right: -30px;
            top: 340px;
          }
        }

        p {
          color: $white;
          max-width: 300px;
          margin: 60px auto 0;

          img {
            display: inline-block;
            width: 60px;
            margin-top: 35px;
            margin-right: 4px;
          }
        }
      }
    }

    &-5 {
      background-color: $darkViolet;

      .content {
        margin-top: 60%;

        .hand-thumb {
          width: 70px;
          margin: 0 auto 65px;
        }

        .text-ready-title {
          margin-bottom: 65px;
        }

        .text-ready {
          display: block;
          width: calc(100% - 20px);
          margin: 0 auto;
          color: $darkViolet;
          font-family: $roboto;
          font-size: 20px;
          background-color: $white;
          text-align: center;
          border-radius: 8px;
          padding: 10px 0;

          span {
            color: $darkViolet;
            font-family: $lobster;
            font-size: 24px;
          }
        }
      }
    }
  }

  .slick-slide {
    position: relative;
  }

  .title-help {
    font-family: $roboto;
    font-size: 12px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

  .slick-dots {
    bottom: 5px;
  }

  .slick-list,
  .slick-track {
    height: 100%;
  }
}